.items-container {
    border: solid 1px gray;
    background-color: white;
}

.no-backdrop::backdrop {
    background: none;
}

.menu-item:focus {
    background: blue;
}

.menu-item.disabled {
    pointer-events:none;
    opacity:0.6;
}